.weather-child {
    float: left;
    width: 100px;
    font-size: 0.75rem;
    text-align: center;
}

.weather-date {
    font-size: 1rem;
    font-weight: bold;
}

.weather-week {
    color: red;
}

.weather-icon {
    width: 32px;
    height: 32px;
    margin: auto;
}

.weather-positionicon {
    display: block;
    height: 16px;
    width: 16px;
    background: url('icons/position.png') no-repeat center center;
    float: left;
}

.weather-position {
    display: block;
    float: left;
    font-size: 0.75rem;
    height: 16px;
    cursor: pointer;
}

.weather-positiondiv {
    padding-left: 10px;
}

.weather-positiondiv:after,
.weather-showdiv:after {
    clear: both;
    content: '';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}

.weather-icon-qing {
    background: url('icons/qing.png') no-repeat center center;
}

.weather-icon-yin {
    background: url('icons/yin.png') no-repeat center center;
}

.weather-icon-duoyun {
    background: url('icons/duoyun.png') no-repeat center center;
}

.weather-icon-xiaoyu {
    background: url('icons/xiaoyu.png') no-repeat center center;
}

.weather-icon-zhongyu {
    background: url('icons/zhongyu.png') no-repeat center center;
}

.weather-icon-dayu {
    background: url('icons/dayu.png') no-repeat center center;
}

.weather-icon-baoyu {
    background: url('icons/baoyu.png') no-repeat center center;
}

.weather-icon-xiaoxue {
    background: url('icons/xiaoxue.png') no-repeat center center;
}

.weather-icon-zhongxue {
    background: url('icons/zhongxue.png') no-repeat center center;
}

.weather-icon-daxue {
    background: url('icons/daxue.png') no-repeat center center;
}

.weather-icon-baoxue {
    background: url('icons/baoxue.png') no-repeat center center;
}

.weather-icon-yujiaxue {
    background: url('icons/yujiaxue.png') no-repeat center center;
}

.weather-icon-zhenyu {
    background: url('icons/zhenyu.png') no-repeat center center;
}

.weather-icon-leizhenyu {
    background: url('icons/leizhenyu.png') no-repeat center center;
}